body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #c794f1;
    color: black;
    text-align: center;
    padding: 10px 0;
}

section{
    margin: 20px;
}

footer{
    background-color: #c794f1;
    color: black;
    text-align: center;
    padding: 10 px 0;
}

/* Styles for index.html */
h1{
    font-size: 2em;
}

p{
    font-size: 1.2em;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.image-container {
    text-align: center;
}

.image-container img{
    display: block;
    margin: 0 auto;
    border: 17px inset #c794f1;
}

.image-container p{
    font: 1.2em;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

/* Styles for hobbies.html */
ul{
    list-style: disc;
}

/* Styles for gallery.html */
/* Slideshow Styles */
.slideshow-container{
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    text-align: center;
}

img{
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}

/*Position the navigation buttons in the center*/
.prev, .next{
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

}

.prev {
    left: 0;
}
.next {
    right: 0;
}

/* Responsive Design */
@media only screen and (max-width: 768px){
    header {
        padding: 15px 0;
    }

    section {
        margin: 10px;
    }

    footer {
        padding: 10px 0;
    }
}